$common-black: #1A2028;
$primary-color: #54C4BE;
$danger-color: #F58184;
$warning-color: #F69A55;
$info-color: #6485CD;
$toast-background-color: #54C4BE;
$toast-header-background-color: #54C4BE;
$toast-success-background-color: #54C4BE;
$toast-success-header-background-color: #54C4BE;
$toast-header-color: #54C4BE;
$toast-warning-header-background-color: #F69A55;
$toast-warning-background-color: #F69A55;
$toast-danger-header-background-color: #F58184;
$toast-danger-background-color: #F58184;
